<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="section">
      <strong>Endereço</strong>
      <div class="selector" routerLink="/address">
        <ion-icon name="location"></ion-icon>
        <p>Av. Brasil, 102, 12.345-678</p>
      </div>
    </div>

    <div class="section mt-40">
      <strong>Itens do pedido</strong>

      <div class="order-items">
        <div class="order-item" *ngFor="let product of products" [routerLink]="['/product', product.id]">
          <div class="left-order-item">
            <img src={{product.image}} alt="Pizza Grande">
            <span>
              <p>{{product.name}}</p>
              <p>x1</p>
            </span>
          </div>
          <strong>{{product.price | currency:"BRL"}}</strong>
        </div>
      </div>

      <div class="order-price">
        <span>
          <p>Soma dos itens</p>
          <p>{{calculateProductsPrice() | currency:"BRL"}}</p>
        </span>

        <span>
          <p>Taxa de entrega</p>
          <p>{{deliveryTax | currency:"BRL"}}</p>
        </span>

        <span>
          <strong>Valor total</strong>
          <strong>{{calculateTotalValue() | currency:"BRL"}}</strong>
        </span>
      </div>
    </div>

    <div class="section mt-40">
      <strong>Forma de pagamento</strong>
      <div class="selector">
        <ion-icon name="location"></ion-icon>
        <p>Dinheiro (na entrega).</p>
      </div>
    </div>

    <div class="section mt-40">
      <ion-button (click)="finishOrder()">
        <span>
          <p>Concluir pedido</p>
          <p>{{calculateTotalValue() | currency:"BRL"}}</p>
        </span>
      </ion-button>
    </div>
  </ion-list>
</ion-content>