<ion-content>
  <ion-col class="welcome-content">
    <div class="welcome-image">
      <img src="https://i.imgur.com/aJZJsQ1.png" />
    </div>

    <div class="welcome-main">
      <h1>Nome do Aplicativo</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor ipsum vitae ante pretium gravida.</p>
    </div>

    <div class="welcome-buttons">
      <ion-button
        routerLink="/signin"
      >
        Já tenho uma conta
      </ion-button>

      <ion-button 
        fill="outline"
        routerLink="/signup"
      >
        Não tenho uma conta
      </ion-button>
    </div>
  </ion-col>
</ion-content>
