.welcome-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-image {
    width: 80%;
    max-width: 350px;
}

.welcome-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1 {
        font-size: 22px;
        font-weight: bold;
    }

    > p {
        width: 80%;
        max-width: 350px;

        font-size: 16px;
        font-weight: normal;

        margin-top: 0px;

        text-align: center;

        color: #404040;
    }
}

.welcome-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 350px;

    margin-top: 50px;
    
    > ion-button {
        width: 80%;
        height: 45px;
        
        font-size: 12px;
        font-weight: bold;

        --border-radius: 3px;
    }
}