<ion-content>
  <div class="product-content">
    <div class="product-top">
      <div class="product-image">
        <img src={{product.image}} />
        <div class="circle" (click)="back()">
          <ion-icon name="chevron-back"></ion-icon>
        </div>
      </div>
      <div class="product-section">
        <strong>{{product.name}}</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor ipsum vitae ante pretium gravida.</p>
      </div>
      <div class="product-section">
        <strong>Observações</strong>
        <ion-input name="instructions" [(ngModel)]="instructions" placeholder="Observações sobre o pedido (opcional)"></ion-input>
      </div>
    </div>

    <div class="product-bottom">
      <div class="amount-controller">
        <ion-button fill="clear" [disabled]="amount <= 1" (click)="decrement()">
          <ion-icon name="remove"></ion-icon>
        </ion-button>

        <strong>{{amount}}</strong>

        <ion-button fill="clear" [disabled]="amount >= 20" (click)="increment()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>

      <ion-button>
        <span>
          <p>Adicionar</p>
          <p>R$ {{calculateTotalPrice()}}</p>
        </span>
      </ion-button>
    </div>
  </div>
</ion-content>