<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{getMessage()}}, <strong>{{this.userService.user.name}}</strong>.</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="location" routerLink="/address"></ion-icon>
      <ion-icon name="cart" routerLink="/cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment scrollable color="primary" [(ngModel)]="selectedFilter">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>

    <ion-segment-button *ngFor="let category of categories" [value]="category">
      <ion-label>{{capitalizeCategoryName(category)}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div class="section" *ngIf="selectedFilter === 'todos'">
    <strong>Por menos de R$ 20,00</strong>

    <ion-slides [options]="{freeMode: true, slidesPerView: 'auto', spaceBetween: 15}">
      <ion-slide *ngFor="let product of getPopularProducts()" [routerLink]="['/product', product.id]">
        <div class="hot-product">
          <img src={{product.image}} />

          <span>
            <strong>{{product.name}}</strong>
            <p>{{product.price | currency:"BRL"}}</p>
          </span>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div
    *ngFor="let category of categories"
    class="section" 
  >
    <div
      *ngIf="selectedFilter === 'todos' || selectedFilter === category"
    >
      <strong>{{capitalizeCategoryName(category)}}</strong>

      <div 
        class="section-item"
        *ngFor="let product of getFilteredProducts(category)"
        [routerLink]="['/product', product.id]"
      >
        <span>
          <img src={{product.image}} />
          <strong>{{product.name}}</strong>
        </span>
        <strong>{{product.price | currency:"BRL"}}</strong>
      </div>
    </div>
  </div>
</ion-content>