ion-title {
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

ion-buttons {
    margin-right: 20px;

    font-size: 24px;
    color: #404040;

    > * {
        margin-left: 15px;
    }
}

ion-segment {
    background: #FFFFFF;
    
    > ion-segment-button > ion-label {
        font-size: 12px;
        font-weight: 500;
        text-transform: none;
    }
}

.section {
    margin: 30px 20px;

    > strong {
        font-size: 16px;
        font-weight: bold;
    } 
}

ion-slide {
    margin-top: 10px;
    width: 140px;

    > .hot-product {
        position: relative;
        width: 140px;
        height: 180px;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
        }

        > span {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 55px;

            color: #FFFFFF;
            background: rgba(0, 0, 0, .7);

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            padding-top: 5px;
            padding-left: 10px;

            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;

            > strong {
                width: 100%;
                height: 100px;
                text-align: start;

                font-size: 16px;
                font-weight: bold;

                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;   
            }

            > p {
                margin-top: 0;

                font-size: 12px;
                font-weight: normal;
            }
        }
    }
}